.datePick {
    text-align: left;
}

.importDate {
    text-align: right;
}

.importDate > div > div > div {
    text-align: left;
}

.createDate > div > div {
    margin: auto;
    padding: 5px 10px;
}

.react-date-picker__wrapper {
    border-radius: 0.25em;
}

.btn-primary {
    width: max-content;
}

.btn-import {
    margin-top: 84px;
}

.import {
    margin-top: 80px;
}

.imgProductImport {
    margin-top: 10px;
}

.noDate {
    padding-top: 50px;
    color: #283373;
    text-align: center
}

.noMenu-content {
    border-radius: 3px;
    padding: 20px !important;
    max-width: fit-content;
}

.importBtn {
    margin: 10px;
}

.addProdContainer {
    margin-top: 10px;
}
